<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArquitecturasTIC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <style>
        img {
            width: 100%;
            max-height: 180px;
            object-fit: contain;
        }
    </style>
    <script>
        function showFuncional() {
            var checkbox = document.getElementById('existenciaCheckbox');
            var campoSenalFuncional = document.getElementById('campoSenalFuncional');
    
            campoSenalFuncional.style.display = checkbox.checked ? 'block' : 'none';
        }
        function showCampos() {
            var checkbox = document.getElementById('funcionalCheckbox');
            var camposPropuestos = document.getElementById('camposPropuestos');
    
            camposPropuestos.style.display = checkbox.checked ? 'none' : 'block';
        }
    </script>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index">Traffic Project</a>
        
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/mapa">Mapa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/senal">Señales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/localidad">Localidades</a>
                        </li>
                    </ul>
                </div>
        
                <div class="ml-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/cerrar_sesion">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="container">
        <h1 class="text-center mt-5 mb-5">Traffic Project</h1>
    </div>

    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Reportar</h5>
                    </div>
                    <div class="card-body">
                        <form action="/situaciones" method="POST">
                            <label>Localidad</label>
                            <select class="form-select" name="localidad" id="localidad" required>
                                {% for loc in localidades %}
                                    <option value="{{ loc.nombre }}">{{ loc.nombre }}</option>
                                {% endfor %}
                            </select>
                            <label>Barrio</label>
                            <input type="text" class="form-control mb-3" name="barrio">
                            <label>Descripcion</label>
                            <input type="text" class="form-control mb-3" name="descripcion">
                            <label>Tipo actor vial</label>
                            <input type="text" class="form-control mb-3" name="tipo_actor_vial">
                            <label>Direccion</label>
                            <input type="text" class="form-control mb-3" name="direccion">
                            <label>Latitud</label>
                            <input type="text" class="form-control mb-3" name="latitud">
                            <label>Longitud</label>
                            <input type="text" class="form-control mb-3" name="longitud">
                            <label>Existencia de señales</label>
                            <input type="checkbox" class="form-check" id="existenciaCheckbox" name="existencia_senales" onchange="showFuncional()">
                            <div id="campoSenalFuncional" style="display: none;">
                                <label>¿La señal es funcional?</label>
                                <input type="checkbox" class="form-check" id="funcionalCheckbox" name="funcional" checked onchange="showCampos()">

                                <div id="camposPropuestos" style="display: none;">
                                    <label>Señal Propuesta</label>
                                    <select class="form-control mb-3" name="localidad" id="localidad" required>
                                        {% for sen in senales %}
                                            <option value="{{ sen.nombre }}">{{ sen.nombre }}</option>
                                        {% endfor %}
                                    </select><br>

                                    <label>Argumento</label>
                                    <input type="text" class="form-control mb-3" name="argumento">
                                </div>
                            </div>
                            <br>

                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Situaciones de riesgo</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                                {% for situacion in situaciones %}

                                    <div class="col">
                                        <li class="list-group-item mb-3">
                                            <form action="{{ url_for('update_delete_situacion', id=situacion._id) }}" method="POST">
                                                <small>LOCALIDAD</small>
                                                <input type="text" class="form-control" value="{{situacion.localidad}}" name="localidad">
                                                <small>TIPO DE ACTOR VIAL</small>
                                                <input type="text" class="form-control" value="{{situacion.tipo_actor_vial}}" name="tipo_actor_vial">
                                                <small>DIRECCION</small>
                                                <input type="text" class="form-control" value="{{situacion.direccion}}" name="direccion">
                                                <small>EXISTENCIA DE SEÑALES</small>
                                                <input type="text" class="form-control" value="{{situacion.existencia_senales}}" name="existencia_senales">
                                                <button class="btn btn-primary btn-sm mt-3" type="submit" name="action" value="get">Ver Mas</button><br>
                                                <button class="btn btn-primary btn-sm mt-3" type="submit" name="action" value="edit">Editar</button>
                                                <button class="btn btn-danger btn-sm mt-3" type="submit" name="action" value="delete" onclick="return confirm('¿Estás seguro de que deseas eliminar esto?');">Eliminar</button>
                                            </form>
                                        </li>
                                    </div>

                                {% endfor %}
                            </div>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 position-relative">
        <img src="{{ url_for('static', filename='logouni.png') }}" alt="Logouni">
    </div>
    
</body>
</html>